---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* 
    Document   : rk_base_style
    Created on : 06-Dec-2012, 17:06:47
    Author     : Richard Kotze
    Description:
        Manage any custome features on the site
*/

$backgroundImage:       "/images/island.jpg";
$textBGColor:           #efefef;
$textColor:             #222;
$darkRed:               #150001;
$customFont:            'Helvetica Neue', Helvetica, Arial;
$red:                   #c00;
$white:                 #fff;
$grey:                  #666;
$spacing-unit:     		30px;
$link-color:            #c00;

$font-family-sans-serif: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:        16px;

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(fonts/Oxygen-Regular.ttf) format('woff');
}

@import
        "base",
        "bootstrap",
        "icon-fonts",
        "visibility",
        "syntax-highlighting"
;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

body{
    color: $textColor;
    background-color: $textBGColor;
    @media #{$small}{
        background-color: $white;
        background-image: url($backgroundImage);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: -520px 20%;
    }
}

h1, h2, h3 {
    font-weight: lighter;
    color: $grey;
    a:hover{
        text-decoration: none;
    }
}

h1.me {
    font-size: 22px;
    @media #{$small}{
        font-size: 26px;
    }
    margin-bottom: 0;
    margin-top:8px;
    span{
        font-size: 40px;
        color: $red;
    }
    a{
        &:link, &:visited{
            color: $grey;
            text-decoration:none;
            @include transition(color 0.5s);
            &:hover{
                color:darken($grey, 15%);
                span{
                    color: darken($red, 15%);
                }
            }
        }
    }
}

.rk-image {
    float:left;
    margin:10px 10px 0 0;
    width: 110px;
}

.search{
    margin:15px 0;
    .input-append{
        display: table;
        width: 100%; 
    }
    .btn {
      line-height: 30px;
      display: table-cell;
    }
    .query{
      font-size: 20px;
      line-height: 30px;
      height: 30px;
      width: 96%;
      color: $darkRed;
      &:focus{
          border-color:rgba(204, 0, 0, 0.8);
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 0, 0, .6);
          -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 0, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 0, 0, .6);
        }
    }
    .search-bar{
        display: table-cell;
        width: 100%;
    }
}


.head-profile{
    color:#888;
    .keep-right{
        @media #{$small}{
            margin-left: 25%;
            text-align: right;
        }
    }
}

article p { 
    margin-bottom:15px;
}

article h1, article h2, article h3  {
    
}

.listing{
    padding: 10px 0;
    @media #{$small}{
        padding: 10px 20px;
    }
    h2:first-child{
        margin-top:0px;
    }
}

.item{
    @media #{$small}{
        padding: 0 20px;
    }
    ul, li {
        margin: 0 5px;
        padding: 0 10px;
    }
}

article.item, article.listing {
    .pubDate { 
        font-size: 14px; 
        color:#666; 
    }
}
article.item, article.listing {
    time { 
        font-style: italic; 
    }
}

.mobile-bar{
    @media #{$max-small}{
        background-color:none;
        border-bottom: 1px solid $red;
        padding: 0;
    }
    .me{
        @media #{$max-small}{
            float:left;
            margin-right:10px;
        }
    }
    .menu-btn{
        float: right;
        padding: 0px 20px;
        margin-top: 7px;
        font-size: 2.5em;
        @media #{$small}{
            display:none;
        }
    }
}

.rk-nav { 
    &.open{
        display:block;
    }
    ul {
        font-size: 20px;
        li{
            margin: 5px 0;
            a{
                text-shadow: none !important;
                @include border-radius(4px);
                padding: 10px 15px !important;
                &.active{
                    color: $white;
                    background-color: $red;
                    cursor:default;
                }

                span[class^="icon-"]{
                    margin-left: 10px;
                }
            }
        }
        li:last-child{
            border-bottom: none;
        }

        a:link, a:visited{
            background: $textBGColor;
            // background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $textBGColor);
            @include transition(all 0.4s);
        }
        a:hover{
            color: $white;
            background-color: $grey !important;
            @include transition(all 0.4s);
        }
    }
}

.contentArea {
    background-color: $white;
    min-height: 1080px;
}

.socialbuttons{
    clear: left;
    @media #{$small}{
        clear: none;
    }
    a{
        display: inline-block;
        width:40px;
        margin-bottom:10px;
        @include transition(color 0.5s);
        &:hover{
            text-decoration:none;
        }
    }
}

#livefyre-comments{
    padding: 0 20px;
    width:auto;
}

//Comment box
#disqus_thread{
    margin: 20px 20px 10px 20px;
}

.result-text{
  color: #999;
  padding: 10px 0 0 10px;
  font-size: 1.5em;
}

.result-text > span{
  color: #333;
}

.op-buttons.type1 {
  margin: 20px 20px 10px 20px;
}

.plea{
   margin-top: 10px;
   text-align: center;
   font-size:0.85em;
   font-weight: 700;
}

.pagination {
    margin:20px 5px;
    vertical-align: bottom;
    a, strong{
        width: 30px;
        margin-right: 5px;
        border:1px solid $red;
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        padding:5px 0;
        vertical-align: top;
    }
    a:hover{
        text-decoration: none;
        border-color: darken($red, 15%);
    }
    strong {
        border:1px solid $grey;
        color: $grey;
    }
    span.next a, span.prev a{
        font-size:40px;
    }

}

::selection {
    background-color: $grey; 
    color:$white;
}
::-moz-selection {
    background-color: $grey;
    color: $white;
}
// Import partials from `sass_dir` (defaults to `_sass`)
