<header class="span4 head-profile">
    <a class="hide-for-medium" href="/" title="About Richard Kotze"><img class="rk-image img-rounded" src="/images/avatar.jpg" alt="Picture of Richard Kotze" /></a>
    
    <div class="mobile-bar clearfix">
        <h1 class="me">
            <a href="/"><span>R</span>ichard <span>K</span>otze</a>
        </h1>
        
        <!-- <p class="hide-for-small"><?php echo $me->summary; ?> <a href="/<?php echo $me->urlslug; ?>">more about me</a></p> -->
        
        <a class="menu-btn" href="#"><span class="icon-reorder"></span></a>
        <p class="socialbuttons">
            <a class="icon-twitter icon-font-large" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"></a>
            <a class="icon-facebook icon-font-large" target="_blank" href="http://www.facebook.com/{{ site.facebook_username }}"></a>
            <a class="icon-google-plus icon-font-large" target="_blank" href="https://plus.google.com/{{ site.google_username }}"></a>
            <a class="icon-github icon-font-large" target="_blank" href="https://github.com/{{ site.github_username }}"></a>
        </p>
        <p>Software Engineer</p>
    </div>

    <!-- <form class="search" action="/" method="GET">
        <div class="input-append">

          <span class="search-bar">
            <input class="query" name="q" type="text" autocomplete="off" placeholder="Search ..." value="<?php if(isset($search) && !empty($search)) echo $search; ?>" />
          </span>

          <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
        </div>
    </form> -->
    
    <nav class="hide-for-small rk-nav">
        <ul class="nav nav-list">
            <li>
                <a<?php echo $me->urlslug == $this->uri->segment(1) ? ' class="active"' : ''; ?> href="/<?php echo $me->urlslug; ?>">
                    <span class="icon-nav-user"></span> About me
                </a>
            </li>

            <?php 
                $icons = array(
                    "top-tips" => "icon-lightning",
                    "coding" => "icon-code",
                    "links" => "icon-support",
                    "web-development" => "icon-notebook",
                    "fixes" => "icon-wand");
            ?>

            <?php foreach ($navlist as $item) { ?>
                <?php if ($item->urlslug == $this->uri->segment(1)) { ?>
                    <li>
                        <a class="active" href="/<?php echo $item->urlslug; ?>">
                            <span class="<?php echo $icons[$item->urlslug]; ?>"></span> 
                        <?php echo $item->navititle; ?></a>
                    </li>
                <?php } else { ?>
                    <li>
                        <a href="/<?php echo $item->urlslug; ?>">
                            <span class="<?php echo $icons[$item->urlslug]; ?>"></span> 
                        <?php echo $item->navititle; ?></a>
                    </li>
                <?php }
            }
            ?>
        </ul>
    </nav>
</header>
<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->