<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{%elsif page.tag %}{{ page.tag | capitalize }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta property="og:site_name" content="Richard Kotze" />
  <meta property="og:locale" content="en_GB" />
  <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | truncate: 160 | strip_newlines }}{% else %}{{ site.description | strip_newlines }}{% endif %}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@richardkotze" />
  {% if page.title %}<meta name="twitter:title" content="{{ page.title }}" />{% endif %}
  <meta content="article" property="og:type">
  {% if page.title %}<meta content="{{ page.title }}" property="og:title">{% endif %}
  {% if page.meta_description %}<meta property="og:description" content="{{ page.meta_description | strip_newlines }}" />{% endif %}
  {% if page.url %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="article:author" content="{{ site.url }}/about/">
    <meta name="author" content="Richard Kotze">
  {% endif %}
  {% if page.image %}
    <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
  {% endif %}
  {% if page.full_image_url %}
    <meta content="{{ page.full_image_url }}" property="og:image">
  {% endif %}

  <link rel="preload" href="/css/fonts/Oxygen-Regular.ttf" as="font" crossorigin>
  <link rel="preload" href="/css/fonts/icomoon.woff" as="font" crossorigin>
  <link rel="stylesheet" href="{{ "/css/main.css?v=15" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
