@font-face {
	font-family: 'icomoon';
	src:url('css/fonts/icomoon.eot');
	src:url('css/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('css/fonts/icomoon.woff') format('woff'),
		url('css/fonts/icomoon.ttf') format('truetype'),
		url('css/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font-large{
	font-size: 30px;
}

.icon-facebook, .icon-twitter, .icon-google-plus, .icon-github, .icon-feed, .icon-bubble, .icon-home, .icon-share, .icon-linkedin, 
.icon-star, .icon-close, .icon-reorder, .icon-code, .icon-lightning, .icon-notebook, .icon-support, .icon-nav-user, .icon-wand, .icon-mug {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
	content: "\e000";
}
.icon-twitter:before {
	content: "\e001";
}
.icon-google-plus:before {
	content: "\e002";
}
.icon-github:before {
	content: "\e003";
}
.icon-feed:before {
	content: "\e004";
}
.icon-bubble:before {
	content: "\e005";
}
.icon-home:before {
	content: "\e006";
}
.icon-share:before {
	content: "\e007";
}
.icon-linkedin:before {
	content: "\e008";
}
.icon-star:before {
	content: "\e009";
}
.icon-close:before {
	content: "\e00a";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-support:before {
	content: "\e600";
}

.icon-notebook:before {
	content: "\e601";
}

.icon-nav-user:before {
	content: "\e602";
}

.icon-wand:before {
	content: "\e603";
}

.icon-mug:before {
	content: "\e604";
}

.icon-lightning:before {
	content: "\e605";
}

.icon-code:before {
	content: "\e606";
}