*, *::after, *::before {
  box-sizing: border-box;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .15em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: $red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: $red;
  box-shadow: 1px 1px 3px $red;
}

.flat::-moz-progress-bar {
  background-color: $red;
  box-shadow: 1px 1px 3px $red;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .15em;
  display: block;
}

.progress-bar {
  background-color: $red;
  width: 50%;
  display: block;
  height: inherit;
}
