---
layout: default
---
<div class="col-sm-7 contentArea" id="MainContentArea">
  <article class="item">
    <header>
      <h1>{{ page.title }}</h1>
    </header>

    {{ content }}
    
  </article>
	 
  {% for post in site.categories[page.category] %}

    <article class="listing">
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    
      <p class="pubDate">Published 
        <time datetime="{{ post.date }}" pubdate>
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
      </p>
        
      {{ post.excerpt }}

    </article>
    
  {% endfor %}

</div>