--- 
layout: default 
---

<div class="col-sm-7 contentArea">
  <progress value="0" id="progressBar" class="flat">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
  </progress>
  <article class="item post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <div class="post-meta-container">
        <p class="pubDate post-meta">
          <span class="symbol">&#x25ce;</span> Published:
          <time pubdate datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y" }}
          </time>  
        </p>
        {% if page.update_date %}
        <p class="updateDate">
          <span><span class="symbol">&#x1f79c;</span> Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span>
        </p>
        {% endif %}
        {% if page.tags.size > 0 %}
        <div class="container-tags"><span class="symbol">&#x2606;</span> Tags 
          <ul class="post-tags">
            {% for tag in page.tags %}
              <li><a href="/tags/{{ tag | downcase }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <p class="top-article-follow">
        <a href="https://twitter.com/intent/follow?screen_name=richardkotze&tw_p=followbutton" 
        rel="noopener nofollow"
        target="_blank"
        class="icon-twitter"> 
          <span>Follow on Twitter</span>
        </a>
      </p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <!-- <p class="end-article-follow">
      <a 
      href="https://twitter.com/intent/follow?screen_name=richardkotze&tw_p=followbutton" 
      rel="noopener nofollow"
      target="_blank" 
      class="icon-twitter icon-font-large follow-button"> 
        <span>Follow @richardkotze</span>
      </a>
    </p> -->
  
  </article>

  <hr />

  <div id="disqus_thread"></div>
  <script>

    var disqus_config = function () {
      this.page.url = "{{ site.tobe_url }}{{ page.url }}";  
      this.page.identifier = "{{ site.old_url }}{{ page.url }}"; 
    };

    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://richardkotze.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>

</div>
